html, body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#section-header{
    text-align: center;
    padding: 20px;
    background-color: rgb(49, 49, 235);
    color: white;
}

main{
    padding: 20px;
    background-color: rgb(80, 93, 236);
    color: white;
}

#section-footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(49, 49, 235);
    color: white;
}

footer{
    background-color: rgb(114, 114, 223);
}
.container {
    text-align: center;
    padding: 20px;
    color: white;
}