html, body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(49, 49, 235);
}

main{
    background-color: rgb(80, 93, 236);
}

footer{
    background-color: rgb(114, 114, 223);
}
.container {
    text-align: center;
    padding: 20px;
    color: white;
}